#kc-locale {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
    margin-top: 4px;
}

#kc-locale:hover ul {
    display: block;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}


@media (min-width: 768px) {
    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {
    #kc-locale {
        top: 20px;
        right: 20px;
        text-align: right;
    }
    #kc-locale ul {
        right: 72px;
    }
}
